<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">博客</a>

        <nav>
            <ul class="nav navbar-nav">
                <li th:class="${isHome}?'active'"><a href="/">主页</a></li>
                <li th:class="${isCategory}?'active'"><a href="/category">分类</a></li>
                <li th:class="${isTopic}?'active'"><a href="/topic">主题</a></li>
            </ul>
        </nav>

        <nav class="pull-right">
            <ul class="nav navbar-nav">
                <li><a id="isLogin" href="/login">登入</a></li>
            </ul>
        </nav>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/?lang=en-US">English</a></li>
                        <li><a href="/?lang=zh-HK">正體中文</a></li>
                        <li><a href="/?lang=zh-CN">简体中文</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>