<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragment/header::header"/>
<body>
<div th:replace="fragment/body::navbar"/>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Language <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/?lang=en-US">English</a></li>
                <li><a href="/?lang=zh-HK">正體中文</a></li>
                <li><a href="/?lang=zh-CN">简体中文</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="jumbotron masthead">
    <div class="container" style="width:500px">
        <div class="page-header">
            <form method="POST" action="/login" class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="uname" placeholder="Email" name="uname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pwd" placeholder="密码" name="pwd"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="autoLogin"/> 记住我
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" onclick="return checkInput();">登入</button>
                        <button type="submit" class="btn btn-default" onclick="return backToHome();">返回</button>
                    </div>
                </div>
            </form>


            <script type="text/javascript">
                function backToHome() {
                    window.location.href = "/";
                    return false
                }

                function checkInput() {
                    var uname = document.getElementById("uname");
                    if (uname.value.length == 0) {
                        alert("账号输入不正确");
                        return false;
                    }
                    var pwd = document.getElementById("pwd");
                    if (pwd.value.length == 0) {
                        alert("密码未输入");
                        return false;
                    }
                    return true;
                }
            </script>
        </div>
    </div>
</div>

<script th:replace="fragment/jslibs::jquery"/>
<script th:replace="fragment/jslibs::bootstrap"/>
</body>
</html>